<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hsbc.insh.mapper.UserInfoMapper">

    <resultMap id="userResult" type="com.hsbc.insh.common.entity.UserInfo">

        <!-- 此处将实体类与数据库中进行了映射，property是实体类中的变量名-->
        <id property="id" column="id"></id>
        <result property="userName" column="user_name"></result>
        <result property="password" column="password"></result>
        <result property="userType" column="user_type"></result>
        <result property="userStatus" column="user_status"></result>
        <result property="createTime" column="create_time"></result>
        <result property="updateTime" column="update_time"></result>
    </resultMap>

    <sql id="Base_Column_List" >
        id, user_name, password, user_type,user_status, create_time, update_time
    </sql>

    <insert id="insertUserInfo" parameterType="com.hsbc.insh.common.entity.UserInfo">
        insert into user_info(user_name,password,user_type,user_status)
        values(#{userName},#{password},#{userType},#{userStatus});
    </insert>


    <select id="queryUserInfo" parameterType="com.hsbc.insh.common.entity.UserInfo" resultMap="userResult">
        SELECT  <include refid="Base_Column_List" /> FROM  user_info where user_name = #{userName} and password = #{password};
    </select>

    <update id="updateUserInfo" parameterType="com.hsbc.insh.common.entity.UserInfo">
        update user_info
        <trim prefix="set" suffixOverrides=",">
            <if test="userName!=null and userName!=''">
                user_name = #{userName},
            </if>
            <if test="password!=null and password!=''">
                password = #{password},
            </if>
            <if test="userType!=null">
                user_Type = #{userType},
            </if>
            <if test="updateTime!=null">
                update_time = #{updateTime},
            </if>
        </trim>
        where id = #{id};
    </update>

    <update id="deleteUserInfo" parameterType="com.hsbc.insh.common.entity.UserInfo">
        update user_info set status = 'N' where id = #{id};
    </update>

    <select id="queryUsers" parameterType="com.hsbc.insh.common.entity.UserInfo" resultMap="userResult">
        select
        <include refid="Base_Column_List" />
        from user_info
        <where>
            <if test="userStatus!=null and userStatus!=''">
                and user_status = #{userStatus}
            </if>
            <if test="userName!=null  and userName!=''">
                and user_name = #{userName}
            </if>
        </where>
    </select>
</mapper>